@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Clash+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Clash Grotesk', sans-serif;
  }
  
  :root {
    --primary: #202020;
    --background: #fff;
    --secondary:#85C6E5;
    --subText:#A3A3A3;
    --activeText:#3073F1;
    --inactiveText:#FF2868;
    --btnBackground:#E5F6FF;
  }